---
import type { Playlist } from "../../../../lib/data";
import { CardSide } from "../../../React/CardSide";

interface Props {
	playList: Playlist;
}

const {
	playList: { artists, cover, id, title },
} = Astro.props;

const artistsString = artists.join(", ");
---

<a
	href={`/playlist/${id}`}
	class="playlist-item flex relative p-2 overflow-hidden items-center justify-start gap-5 rounded-md hover:bg-zinc-800 transition duration-200"
>
	<CardSide
		playlistId={id}
		cover={cover}
		title={title}
		artistsString={artistsString}
		client:load
	/>
</a>
