---
import { allPlaylists, songs } from "@/lib/data";
import Layout from "@/layouts/Layout.astro";
import MusicsTable from "@/components/MainLibrary/components/MusicsTable.astro";
import { PlayButton } from "@/components/React/PlayButton";

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);

const title = `${playlist?.title} 🎵`;

const playListSongs = songs.filter(
	(song) => song.albumId === playlist?.albumId
);

const colorBanner = playlist?.color.accent;
const imageBanner = playlist?.cover;
---

<Layout title={title} `>
	<section
		id="playlist-container"
		class="relative rounded-md pt-5 flex flex-col h-full overflow-x-hidden"
		transition:name=`playlist ${id} box`
	>
		<div
			class="absolute inset-0 opacity-10"
			style={{
				backgroundColor: colorBanner,
			}}
		>
		</div>

		<div class="absolute inset-0 opacity-10 overflow-hidden">
			<img class="w-full" src={imageBanner} alt="" />
		</div>

		<section class="relative flex-1 flex flex-col gap-5">
			<header class="flex gap-8 px-6">
				<picture class="aspect-square w-52 h-52 flex-none">
					<img
						src={playlist?.cover}
						alt={`Cover of ${playlist?.title}`}
						class="object-cover w-full h-full rounded-md"
						transition:name=`playlist ${playlist?.id} image`
					/>
				</picture>

				<div class="flex flex-col gap-5">
					<div
						transition:name=`playlist ${playlist?.id} title`
						class="flex-1 flex-col flex justify-end"
					>
						<h3>Playlist</h3>
						<h2 class="text-5xl font-bold block">
							{playlist?.title}
						</h2>
					</div>

					<div
						transition:name=`playlist ${playlist?.id} artists`
						class="flex flex-col justify-end text-sm text-gray-300 font-normal"
					>
						<p>
							{playlist?.artists.join(", ")}
						</p>
						<p>
							<span class="text-white"
								>{playListSongs.length} canciones</span
							>, 3 h aproximadamente
						</p>
					</div>
				</div>
			</header>

			<section class="bg-black/40 flex-1">
				<div class="p-5">
					<PlayButton id={id} buttonAnyPosition client:load />
				</div>

				<MusicsTable songs={playListSongs} />
			</section>
		</section>
	</section>
</Layout>
